.home {
	height: 550px;
	background-image: url(../../assets/img/bg.jpg);
	background-size: cover;
	text-align: center;
}

.home .profil-picture {
  margin-bottom: 25px;
	width: 180px;
	border-radius: 50%;
}

.home p {
	font-size: 20px;
	font-weight: 400;
}