.hobbies {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -120px;
	background-color: white;
	padding: 25px;
}

.hobbies img {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0px 30px 0px;
}

.hobbies h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.hobbies p {
	font-size: 14px;
}